<!-- Reload Modal -->
<div class="modal fade" id="stopRunModal">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Stop Run</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
         <form id="stopform" role="form" action="stop">
	   <div class="form-group">
	     <label for="revisedtype">Run type:</label>
	     <select class="form-control" name="runtype" id="revisedType">
	       <option>Physics</option>
	       <option>Cosmics</option>
	       <option>Calibration</option>
	       <option selected>Test</option>
	     </select>
	   </div>
 	   <div class="form-group">
	     <label for="endcomment"><span class="glyphicon glyphicon-user"></span> Comments</label>
	     <textarea type="text" class="form-control" name="endcomment" id="endcomment" rows="4" cols="50"></textarea>
	   </div>
	   <button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span>STOP</button>
	 </form>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" onClick="">CANCEL</button>
      </div>
      
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    $('#stopform').on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            url : $(this).attr('action'),
            type: "GET",
            data: $(this).serialize(),
            success: function (data) {
                $("#stopRunModal").modal("hide");
            },
            error: function (jXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });
});
</script>
